<div class="text-layout">
    <h1>Pipes Básicos</h1>
    <p>
        Pipes incluídos en Angular - Usualmente en el Common Module...
    </p>
</div>

<div class="grid">
    <div class="col-4">
        <p-card header="uppercase"
                subheader="primero">
        </p-card> 
    </div>
    <div class="col-4">
        <p-card header="uppercase"
                subheader="segundo">
        </p-card> 
    </div>
    <div class="col-4">
        <p-card header="uppercase"
                subheader="tercero">
        </p-card> 
    </div>
</div>

<div class="text-layout">
    <h1>Date | Fecha | Pipes</h1>
    <p>
        Pipes para mostrar las fechas...
    </p>
</div>

<div class="grid">
    <div class="col-6">
        <ul>
            <li>
                .
            </li>
        </ul>
    </div>
    <div class="col-6">
        <ul>
            <li>
                .
            </li>
        </ul>
    </div>
</div>