<div class="text-layout">
  <p>pipesApp...</p>
  <!-- * * -->
  <hr>  
</div>

<app-menu></app-menu>
<!--router-outlet establece el enlace con los html dentro de pages-->
<!--router-outlet es quien llama al RouterModule(app-router.module.ts)-->
<router-outlet></router-outlet>


<!--<div class="row">
  <div class=""></div>
  <div class=""></div>
  
</div>

<button pButton 
        icon="pi pi-bell"
        iconPos="right"
        class="p-button-help"
        (click)="mostrarNombre()"
        label="Cambiar Nombre">
</button>

<p-card [header]="nombre | titlecase"
        subheader="Subtitulo">
  Content: nbvn bvbu hkfb askhfg 
  veiyuhf bjke fjkhe fjks eke s 
  ed  esfj lshgil jsnhgikle guih 
  vfgjiueg jg ig gu sgil hg.
</p-card>

-->